<nav class="flex justify-between p-5 md:p-6 shadow-md ">
    <div class="logo">
        <img src="/img/logo.jpeg" alt="logo" style="width: 10%;">
    </div>
    <ul class="flex items-center capitalize">
        <li><a href="/" class="p-3">home</a></li>
        <li><a href="/about" class="p-3">about</a></li>
        <li><a href="/admin" class="p-3">admin</a></li>
    </ul>
</nav>