<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header.ejs') %> 
<body class="">
    <%- include('./partials/nav.ejs') %> 
    <div class="section capitalize text-center md:text-left p-2 my-5 md:p-10">
        <h1 class="font-bold text-4xl md:text-5xl">welcome to ivei staff management system  project</h1>
        <p class="my-3">this is the ivei staff management project </p>
        <div class="btn">
            <a href="/log-in" class="btn bg-yellow-500 hover:text-white">log in</a>
        </div>
    </div>
</body>
</html>